//==========================================================================
//   LAYOUT
//==========================================================================

    /* A section is a horiztonal band/stripe/row on the page. 
       Defaults to the <body> bg color but can have its own color. */
    .section        { padding: 20px; }

    /* If the page is at least 768px, center the content at that width. 
       Otherwise it will be 100% wide. */
    @media (min-width: 768px) { 
      .content { width: 768px; margin: 0 auto; } 
    }

    /* If you want full width content no matter what, 
       add class '.content-full' to any 'div.content' */
    .content-full   { margin: 0; width: 100%; }