//==========================================================================
//   LAYOUT
//==========================================================================

    // Clearfix (via https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_clearfix.scss)
    
          @mixin clearfix {
            &:after {
              content:"";
              display:table;
              clear:both;
            }
          }

    // Scaffolding

          /* A section is a horiztonal band/stripe/row on the page. 
             Defaults to the <body> bg color but can have its own color. */
          section        { padding: 20px; }

          /* If the page is at least 768px, center the content at that width. 
             Otherwise it will be 100% wide. */
          @media (min-width: 1020px) { 
            .wrapper { width: 1020px; margin: 0 auto; } 
          }

          /* If you want full width content no matter what, 
             add class '.content-full' to any 'div.content' */
          .wrapper-full   { margin: 0; width: 100%; }