//==========================================================================
//   SITE STYLES
//==========================================================================

    * {
    	margin: 0;
    	padding: 0;
    	position: relative;
    	-webkit-box-sizing: border-box;
    	   -moz-box-sizing: border-box;
    	        box-sizing: border-box;
    }

// --

    body { background: #fff url(../images/bg_woods_v3.jpg) no-repeat center -150px fixed; }


    // intro section
    section.title { height: 480px; margin: 0; }
    section.title {
      .wrapper { padding: 160px 20px 0; }
      h1 { font-size: 75px; line-height: 75px; margin: 0 0 21px 0; color: #fff; text-shadow: 0px 1px 1px rgba(0,0,0,0.3); }
      p { color: #fff; font-size: 21px; line-height: 27px; text-shadow: 0px 1px 1px rgba(0,0,0,0.3); }
    }

    section.intro.hidden { display: none; }
    section.intro                     { background: #333; position: fixed; top: 0; left: 0; right: 0; z-index: 4; height: 65px; padding: 15px 20px; }
    section.intro .wrapper            {  }
    section.intro h1 { color: #eee; margin: 0 0 5px 0; font-size: 24px; line-height: 30px; }
    section.intro p  { color: #eee; margin: 0; font-size: 14px; line-height: 16px; }

        // if in "not playing" mode (on page load), have different appearance (temp)
        body.not-playing section.intro {  }


    .songs-wrapper { background: #fff; padding: 20px 0 100px 0; }
    // Song layout magic
    article.song { position: relative; margin: 0 0 80px 0; }
    article.song {
      .song-info      { top: 0px; left: 0px;   width: 400px; }
      .song-lyrics        { top: 0px; left: 420px; width: 600px; }
    }
    
    // Song visual styles
    article.song { 
      .song-info    { padding: 20px 20px 18px; margin: 20px 0 0 0; }
      .song-info h1 { }
      .song-info p  { }
      .song-info .play-btn { display: inline-block; background: $colorPlayer url(../images/btn_play_v1.png) no-repeat 18px 13px; background-size: 16px 20px; height: 0; padding: 45px 25px 0; width: 16px; overflow: hidden; color: white; text-decoration: none; border-radius: 4px; }
      .song-info .play-btn.passive { background-color: $colorPlayer; }
      .song-info .play-btn.playing {  background-image: url(../images/btn_pause_v1.png); background-position: 15px 13px; background-size: 20px 20px; }
      .song-info .play-btn.paused  { }

      .song-lyrics        { white-space: pre; background: $colorGrey; padding: 4px 20px; margin: 20px 0 20px 0; border-radius: $brdr; }
      .song-lyrics strong,
      .song-info p.sub     { font-size: 12px; color: #bbb; margin: 0 0 8px 0; display: inline-block; margin: 0 0 8px 0; font-weight: bold; }
    }

// --

.sc-artwork-list { display: none; }
.sc-info { display: none; }
.sc-trackslist { display: none; }
.sc-info-toggle { display: none; }
.sc-volume-slider { display: none; }
//.sc-waveform-container img  { display: none; }
//.sc-time-span .sc-waveform-container      { display: none; }
.sc-time-span .sc-buffer                  { display: none; }

.sc-player-wrap                   { margin: 0 0 0 20px; }

.sc-player                        { position: absolute; height: 30px; left: 0; right: 0px; }
.sc-player .sc-controls           { }

// when NOT PLAYING
.sc-player .sc-controls .sc-play  { display: block; }
.sc-player .sc-controls .sc-pause { display: none; }

// when PLAYING
.sc-player.playing .sc-controls .sc-play  { display: none; }
.sc-player.playing .sc-controls .sc-pause { display: block; }

.sc-player .sc-controls {
  .sc-play,
  .sc-pause { position: absolute; background: url(../images/btn_play_v1.png) no-repeat 18px 7px; background-size: 16px 20px; height: 0; padding: 45px 0px 0; width: 50px; overflow: hidden; color: white; text-decoration: none; border-radius: $brdr 0 0 $brdr; }
  .sc-pause { background-image: url(../images/btn_pause_v1.png); background-position: 15px 7px; background-size: 20px 20px; background-repeat: no-repeat; }
}





.sc-player .sc-scrubber                             { position: absolute; height: 15px; left: 50px; top: 15px; right: 0; border-radius: 0 $brdr $brdr 0; }
.sc-player .sc-scrubber .currentTrack               { position: absolute; left: 1px; top: -18px; z-index: 1; font-size: 13px; font-weight: normal; }

.sc-player .sc-scrubber .sc-time-span               { background: #3b3b3b; height: 6px; top: 10px; }
.sc-player .sc-scrubber .sc-time-span .sc-waveform-container { position: absolute; z-index: 10; width: 100%; height: 6px; opacity: 0.5; }
.sc-player .sc-scrubber .sc-time-span .sc-waveform-container img { height: 25px; width: 100%; opacity: 0; }
.sc-player .sc-scrubber .sc-time-span .sc-played    { background: #3b3b3b; height: 6px; }
.sc-player.playing .sc-scrubber .sc-time-span .sc-played    { background: $colorPlayer; }
.sc-player.paused .sc-scrubber .sc-time-span .sc-played     { background: #666; }
.sc-player .sc-scrubber .sc-time-indicators         { position: absolute; right: 0px; top: -13px; color: #777; font-size: 12px; }
    body.not-playing .sc-time-indicators { display: none; }
.sc-player .sc-scrubber .sc-time-indicators span    { color: #ccc; }