//==========================================================================
//   SITE STYLES
//==========================================================================

    * {
    	margin: 0;
    	padding: 0;
    	position: relative;
    	-webkit-box-sizing: border-box;
    	   -moz-box-sizing: border-box;
    	        box-sizing: border-box;
    }

// --

    body { background: #ddd; }

    section.intro { background: #555; }
    section.intro h1 { color: #eee; margin: 0 0 5px 0; }
    section.intro p  { color: #eee; margin: 0; }
    
    article.song { position: relative; }

    article.song {
      .secondary      { top: 0px; left: 20px;   width: 400px; }
      .primary        { top: 0px; left: 440px; width: 600px; }
    }
    
    
    article.song { 
      .secondary  { background: yellow; padding: 20px; margin: 20px 0;
        h1  { }
        p   { font-style: italic; }
      }
      .primary        { white-space: pre; background: #fff; padding: 4px 24px; margin: 20px 0; }
    }