//==========================================================================
//   SITE STYLES
//==========================================================================

    * {
    	margin: 0;
    	padding: 0;
    	position: relative;
    	-webkit-box-sizing: border-box;
    	   -moz-box-sizing: border-box;
    	        box-sizing: border-box;
    }

// --

    body { background: #ddd; }

    // Intro section
    section.intro { background: #555; }
    section.intro h1 { color: #eee; margin: 0 0 5px 0; }
    section.intro p  { color: #eee; margin: 0; }
    
    
    // Song layout magic
    article.song { position: relative; margin: 0 0 80px 0; }
    article.song {
      .song-info      { top: 0px; left: 20px;   width: 400px; }
      .song-lyrics        { top: 0px; left: 440px; width: 600px; }
    }
    
    // Song visual styles
    article.song { 
      .song-info    { background: yellow; padding: 20px; margin: 20px 0; }
      .song-info h1 { }
      .song-info p  { font-style: italic; }

      .song-lyrics        { white-space: pre; background: #fff; padding: 4px 24px; margin: 20px 0; }
    }