//==========================================================================
//   VARIABLES
//==========================================================================

$brdr: 4px;

$colorPlayer: #6abd44;
$colorGrey:   #f3f4f0;